In [94]:
import pandas as pd

In [95]:
data = pd.read_csv("./data/OECD,DF_DP_LIVE,+IND+BRA+CHN+DEU+FRA+JPN+ITA+CAN+USA+GBR.CPI...M.csv")

In [96]:
data['Time'].head(5)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Time, dtype: float64

In [97]:
data.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'LOCATION',
       'Country', 'INDICATOR', 'Indicator', 'SUBJECT', 'Subject', 'MEASURE',
       'Measure', 'FREQUENCY', 'Frequency', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation Value', 'OBS_STATUS', 'Observation Status', 'UNIT_MEASURE',
       'Unit of Measures', 'UNIT_MULT', 'Multiplier', 'BASE_PER',
       'Base reference period'],
      dtype='object')

In [98]:
data['MEASURE']

0         AGRWTH
1         AGRWTH
2         AGRWTH
3         AGRWTH
4         AGRWTH
          ...
48825    IDX2015
48826    IDX2015
48827     AGRWTH
48828     AGRWTH
48829    IDX2015
Name: MEASURE, Length: 48830, dtype: object

In [99]:
data = data[['TIME_PERIOD', 'Country', 'INDICATOR', 'Subject', 'OBS_VALUE', 'MEASURE']]

In [100]:
data.sort_values("TIME_PERIOD", inplace=True)

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48830 entries, 21190 to 6205
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME_PERIOD  48830 non-null  object
 1   Country      48830 non-null  object
 2   INDICATOR    48830 non-null  object
 3   Subject      48830 non-null  object
 4   OBS_VALUE    48830 non-null  float64
 5   MEASURE      48830 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.6+ MB

In [102]:
data.tail(20)

,TIME_PERIOD,Country,INDICATOR,Subject,OBS_VALUE,MEASURE
37630,2023-11,Canada,CPI,Energy,135.355500,IDX2015
41789,2023-11,Canada,CPI,Food,130.248500,IDX2015
38893,2023-11,France,CPI,Energy,2.940882,AGRWTH
9734,2023-11,Italy,CPI,Food,129.000000,IDX2015
4455,2023-11,Germany,CPI,Food,143.701500,IDX2015
25366,2023-11,Germany,CPI,Energy,148.271300,IDX2015
38611,2023-11,Germany,CPI,Food,5.806452,AGRWTH
17426,2023-11,Italy,CPI,Food,5.911330,AGRWTH
35388,2023-11,United Kingdom,CPI,Energy,-17.100000,AGRWTH
1744,2023-11,China (People's Republic of),CPI,Total,-0.500000,AGRWTH
4208,2023-11,United Kingdom,CPI,Food,134.800000,IDX2015
23752,2023-11,China (People's Republic of),CPI,Total,114.669400,IDX2015
4196,2023-11,Japan,CPI,Energy,111.251100,IDX2015
9354,2023-11,United Kingdom,CPI,"Total less food, less energy",5.200000,AGRWTH
38078,2023-11,Italy,CPI,"Total less food, less energy",3.126175,AGRWTH
37964,2023-11,France,CPI,"Total less food, less energy",2.765254,AGRWTH
13737,2023-11,Canada,CPI,Energy,-5.731594,AGRWTH
37709,2023-11,Germany,CPI,"Total less food, less energy",3.695342,AGRWTH
21044,2023-11,France,CPI,Food,132.980000,IDX2015
6205,2023-11,Italy,CPI,Energy,-24.367980,AGRWTH

In [103]:
data["MOM"] = data.apply(lambda x: x['OBS_VALUE'] if x['MEASURE'] == "AGRWTH" else None, axis = 1)

In [104]:
data.tail(20)

,TIME_PERIOD,Country,INDICATOR,Subject,OBS_VALUE,MEASURE,MOM
37630,2023-11,Canada,CPI,Energy,135.355500,IDX2015,NaN
41789,2023-11,Canada,CPI,Food,130.248500,IDX2015,NaN
38893,2023-11,France,CPI,Energy,2.940882,AGRWTH,2.940882
9734,2023-11,Italy,CPI,Food,129.000000,IDX2015,NaN
4455,2023-11,Germany,CPI,Food,143.701500,IDX2015,NaN
25366,2023-11,Germany,CPI,Energy,148.271300,IDX2015,NaN
38611,2023-11,Germany,CPI,Food,5.806452,AGRWTH,5.806452
17426,2023-11,Italy,CPI,Food,5.911330,AGRWTH,5.911330
35388,2023-11,United Kingdom,CPI,Energy,-17.100000,AGRWTH,-17.100000
1744,2023-11,China (People's Republic of),CPI,Total,-0.500000,AGRWTH,-0.500000
4208,2023-11,United Kingdom,CPI,Food,134.800000,IDX2015,NaN
23752,2023-11,China (People's Republic of),CPI,Total,114.669400,IDX2015,NaN
4196,2023-11,Japan,CPI,Energy,111.251100,IDX2015,NaN
9354,2023-11,United Kingdom,CPI,"Total less food, less energy",5.200000,AGRWTH,5.200000
38078,2023-11,Italy,CPI,"Total less food, less energy",3.126175,AGRWTH,3.126175
37964,2023-11,France,CPI,"Total less food, less energy",2.765254,AGRWTH,2.765254
13737,2023-11,Canada,CPI,Energy,-5.731594,AGRWTH,-5.731594
37709,2023-11,Germany,CPI,"Total less food, less energy",3.695342,AGRWTH,3.695342
21044,2023-11,France,CPI,Food,132.980000,IDX2015,NaN
6205,2023-11,Italy,CPI,Energy,-24.367980,AGRWTH,-24.367980

In [105]:
data_temp = data[['TIME_PERIOD', 'Country', 'OBS_VALUE', 'MEASURE']]

In [106]:
data_temp

      TIME_PERIOD  Country   OBS_VALUE  MEASURE
21190     1914-01   Canada    4.740585  IDX2015
16533     1914-02   Canada    4.740585  IDX2015
5082      1914-03   Canada    4.740585  IDX2015
25739     1914-04   Canada    4.740585  IDX2015
37558     1914-05   Canada    4.661575  IDX2015
...           ...      ...         ...      ...
37964     2023-11   France    2.765254   AGRWTH
13737     2023-11   Canada   -5.731594   AGRWTH
37709     2023-11  Germany    3.695342   AGRWTH
21044     2023-11   France  132.980000  IDX2015
6205      2023-11    Italy  -24.367980   AGRWTH

[48830 rows x 4 columns]

In [107]:
data_temp = data_temp.drop(data_temp[data_temp["MEASURE"] == "IDX2015"].index , axis = 0)

In [108]:
data_temp

      TIME_PERIOD  Country  OBS_VALUE MEASURE
39194     1915-01   Canada   1.666667  AGRWTH
34840     1915-02   Canada   1.666667  AGRWTH
7050      1915-03   Canada   1.666667  AGRWTH
1946      1915-04   Canada   1.666667  AGRWTH
39488     1915-05   Canada   3.389831  AGRWTH
...           ...      ...        ...     ...
38078     2023-11    Italy   3.126175  AGRWTH
37964     2023-11   France   2.765254  AGRWTH
13737     2023-11   Canada  -5.731594  AGRWTH
37709     2023-11  Germany   3.695342  AGRWTH
6205      2023-11    Italy -24.367980  AGRWTH

[24163 rows x 4 columns]

In [109]:
data = data.drop(data[data["MEASURE"] == "AGRWTH"].index , axis = 0)
data

,TIME_PERIOD,Country,INDICATOR,Subject,OBS_VALUE,MEASURE,MOM
21190,1914-01,Canada,CPI,Total,4.740585,IDX2015,NaN
16533,1914-02,Canada,CPI,Total,4.740585,IDX2015,NaN
5082,1914-03,Canada,CPI,Total,4.740585,IDX2015,NaN
25739,1914-04,Canada,CPI,Total,4.740585,IDX2015,NaN
37558,1914-05,Canada,CPI,Total,4.661575,IDX2015,NaN
...,...,...,...,...,...,...,...
25366,2023-11,Germany,CPI,Energy,148.271300,IDX2015,NaN
4208,2023-11,United Kingdom,CPI,Food,134.800000,IDX2015,NaN
23752,2023-11,China (People's Republic of),CPI,Total,114.669400,IDX2015,NaN
4196,2023-11,Japan,CPI,Energy,111.251100,IDX2015,NaN
21044,2023-11,France,CPI,Food,132.980000,IDX2015,NaN

In [110]:
data = pd.merge(data, data_temp, on= ["TIME_PERIOD", "Country"], how = "inner")

In [111]:
data

,TIME_PERIOD,Country,INDICATOR,Subject,OBS_VALUE_x,MEASURE_x,MOM,OBS_VALUE_y,MEASURE_y
0,1915-01,Canada,CPI,Total,4.819594,IDX2015,NaN,1.666667,AGRWTH
1,1915-02,Canada,CPI,Total,4.819594,IDX2015,NaN,1.666667,AGRWTH
2,1915-03,Canada,CPI,Total,4.819594,IDX2015,NaN,1.666667,AGRWTH
3,1915-04,Canada,CPI,Total,4.819594,IDX2015,NaN,1.666667,AGRWTH
4,1915-05,Canada,CPI,Total,4.819594,IDX2015,NaN,3.389831,AGRWTH
...,...,...,...,...,...,...,...,...,...
86800,2023-11,Japan,CPI,Energy,111.251100,IDX2015,NaN,8.040666,AGRWTH
86801,2023-11,France,CPI,Food,132.980000,IDX2015,NaN,7.885770,AGRWTH
86802,2023-11,France,CPI,Food,132.980000,IDX2015,NaN,3.474532,AGRWTH
86803,2023-11,France,CPI,Food,132.980000,IDX2015,NaN,2.940882,AGRWTH
86804,2023-11,France,CPI,Food,132.980000,IDX2015,NaN,2.765254,AGRWTH